@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #14B8A6;
    --secondary-color: #f5f4fa;
    --text-color: #656565;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

nav {
    background: linear-gradient(90deg, #1F2939, #98aeec);
    padding: 3rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    float: right;
}

nav a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: lightsteelblue;
}

.container {
    position: relative;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    display: block;
    gap: 80px;
    border-radius: 10px;
}

.contact-header h1 {
    color: var(--primary-color);
    padding: 2rem;
}
form {
    margin-top: 6rem;
}
.flex {
    display: flex;
}
.left {
    width: 55%;
}

.text {
    font-size: 14px;
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}

.cta-button {
    background: #14B8A6;
    border: solid;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    padding-right: 1rem;
    cursor: pointer;
    transform: 0.5s;
    width: 100%;
}

.cta-button:hover {
    background-color: #16382b
}

.right {
    width: 45%;
    margin-left: 2rem;
}

.paola {
  max-width: 50%;
  height: auto;
}

.form-group {
    position: relative;
    margin-bottom: 22px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 10px;
    border-radius: 8px;
    border: none;
}

.form-group {
    resize: none;

}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: var(--text-color);
    opacity: 0.5;
    font-family: 12px;
}
textarea {
    resize: none;
}
.social-links {
    
}
footer {
    background: linear-gradient(90deg, #1F2939, #98aeec);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}

footer .text {
    color: var(--white-color);
}

/* Media query para dispositivos móviles */